<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="width=device-width">
    <title>Main page</title>
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/soyuz-grotesk" rel="stylesheet">
</head>
<body>

    <div id="first">
        <h1 style="margin-bottom: -2%;margin-left: 5%;">Портал Практик<br>МЕД<span style="color: #90C2E9;">V</span>ЗЛЕТ</h1>
        <p style="margin-left: 5%;">будущая специализация начинается с тебя!</p>
        <div class="comment">
            <p class="comm">Давно мечтал попасть в</br>интересующее тебя отделение?</p>
        </div>
        <div class="comment_one">
            <p class="comm" style="margin-left:4.2%;margin-top: 2.3%;">Да!</p>
        </div>
        <div class="comment_two">
            <p class="comm">Скорее нажимай на кнопку ниже</br>и погружайся в работу врача</br>выбранной специальности!</p>
        </div>
        <button type="submit" class="but">Перейти</button>
    </div>




    <div id="second">
        <h1 style="font-size: 68px;margin-top: 10%;margin-left: 5%;">Выбери свой университет</h1>
        <div>
            <div class="univer" style="background-image: url(Frame\ 4.svg);margin-left:5%">
            </div>
            <div class="univer" style="background-image: url(Frame\ 5.svg);">
            </div>
            <div class="univer" style="background-image: url(Frame\ 6.svg);">
            </div>
            <p style="float: left;font-size: 35px;margin-left: 6.5%;">МГМУ им.Сеченова</p>
            <p style="float: left;font-size: 35px;margin-left: 9.5%;">РНИМУ им.Пирогова</p>
            <p style="float: left;font-size: 35px;margin-left: 7.5%;">МГМСУ им.Евдокимова</p>
        </div>
    </div>



    <div id="third">
        <h1 style="font-size: 63px;margin-left:7%">Клинические базы МГМУ. им.Сеченова</h1>
        <p style="font-size: 39px;margin-top:-2%;margin-left:7%">Выбери больницу для прохождения практки от университета </p>
        <div class="ykb" style="background-image: url(Group\ 31.svg);margin-left: 4.5%;">
        </div>
        <div class="ykb" style="background-image: url(Group\ 32.svg);">
        </div>
        <div class="ykb" style="background-image: url(Group\ 33\ \(1\).svg);">
        </div>
        <div class="ykb" style="background-image: url(Group\ 34.svg);">
        </div>
        <div class="under_hosp">
        </div>
    </div>

    <div id="third">
        <h1 style="font-size: 63px;margin-left:7%">Клинические базы РНИМУ. им.Пирогова</h1>
        <p style="font-size: 39px;margin-top:-2%;margin-left:7%">Выбери больницу для прохождения практки от университета </p>
        <div class="ykb" style="background-image: url(Group\ 6.svg);margin-left:5%">
        </div>
        <div class="ykb" style="background-image: url(Group\ 7.svg);">
        </div>
        <div class="under_hosp">
        </div>
    </div>

    <div id="third">
        <h1 style="font-size: 63px;margin-left:7%">Клинические базы РНИМУ. им.Пирогова</h1>
        <p style="font-size: 39px;margin-top:-2%;margin-left:7%">Выбери больницу для прохождения практки от университета </p>
        <div class="ykb" style="background-image: url(Group\ 5.svg);width: 291px;height: 473px;margin-left: 5%;">
        </div>
        <div class="under_hosp" style="margin-top:37%">
        </div>
    </div>

    <div id="four">
        <div id="pod">
            <h1 style="font-size: 49px;">УКБ 1</h1>
            <p style="font-size: 38px;margin-top: -2%;">Выбери интересующее тебя отделение </p>
        </div>
        <div>
            <div style="margin-left:5%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -63%;">1-3 курс</br>сестринская практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение эндокринологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Приемное отделение </p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Хирургическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение травматологии </p></div>
            </div>
            <div style="margin-top:-34.8%;margin-left:54%">
                <p style="font-size: 33px;color: #22425B;text-align: center;margin-left: -25%;">4-6 курс</br>врачебная практика</p>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение эндокринологии</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Неврологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Приемное отделение </p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Хирургическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение травматологии </p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Гематологическое отделение</p></div>
                <div id="stroke"><p style="color: #22425B;font-size: 32px;margin-left: 5%;line-height: 150%;">Отделение урологии</p></div>
            </div>
        </div>
        <img src="Group 50.svg" style="margin-top:-18.85%;">
    </div>
    
    <div id="five">
    </div>

    <div id="five">
    </div>

    <div id="five">
        <img src="Group 54.svg" style="width: 1262px;height: 280px;">
        <img src="Group 55.svg" style="width: 1232px;height: 263px;">
        <img src="Group 56.svg" style="width: 1287px;height: 323px;">
        <button type="submit" style="width: 379px;height: 81px;text-align: center;background-color: transparent;color: #fff;border:2.2px solid white;border-radius: 121px;font-size: 51px;">отзывы</button>
    </div>

    <div id="last">
        <h1 style="font-size: 51px;">Ответы на часто задаваемые вопросы</h1>
        <p style="font-size: 23px;">Гугл-форма не дает записаться в отделение, почему?
        </br>- В отделении набралось максимальное количество студентов, места на запись закончились.</p>
        <p style="font-size: 23px;">Если я записалась в отделение, но потом передумала. Могу я поменять отделение на другое?
        </br>- Перезапись в отделения не предусмотрена. Гугл-форма даёт записаться только один раз в одно из отделений.</p>
           
        <p style="font-size: 23px;">Как понять, что я точно записалась и попаду в отделение?
        </br>- При записи через гугл-форму Ваши данные автоматически передаются кураторам университета, и Вы приходите на практику в выбранное отделение.</p>
           
        <p style="font-size: 23px;">По остальным вопросам Вы можете связаться со студентами-кураторами вашего университета через телеграмм:</p>
        <p style="font-size: 23px;">
            УКБ 1 Татьяна И. @tt_isk
            </br>УКБ 2. Елена П. @tjfssv
            </br>УКБ 3. Анастасия К. @aa_niente
            </br>УКБ 4. Алена Н. @itsalnn
            </br>ГКБ 15 Виктория П. @vikki_usk
            </br>ГКБ 24 Дария У. @vushkarnik
            </br>ГБУЗ 12 Дарья В. @help_urselffff
        </p>
    </div>

</body>
<script>
    document.getElementById('cen').addEventListener('click', function() {
        document.querySelector('#fok').scrollIntoView({ behavior: 'smooth' });
    });
    document.getElementById('cen2').addEventListener('click', function() {
        document.querySelector('#fok2').scrollIntoView({ behavior: 'smooth' });
    });
    document.getElementById('cen3').addEventListener('click', function() {
        document.querySelector('#fok3').scrollIntoView({ behavior: 'smooth' });
    });
</script>